
* {box-sizing: border-box}
    .container {
      width: 100%;
      background-color: rgb(131, 131, 131);
    }
    .skills {
      text-align: right;
      padding-bottom: 7px;
      padding-top: 7px;
      color: black;
    }
    .FIRSTSEMESTER {
      width: 83%;
    background-color:rgb(0, 157, 254);
    
      }
   .SECONDSEMESTER{
    width: 80%;
    background-color:rgb(0, 157, 254);
   }
   .thirdSEMESTER {
    width: 80%;
   background-color:rgb(0, 157, 254);
    }
   .TWELTH{
    width: 54%;
    background-color:rgb(0, 157, 254);
   }
   .TENTH{
    width: 62%;
    background-color:rgb(0, 157, 254);
   }

   body{
    background-color: rgb(252, 252, 252);

}

.name{
    font-size: 4em;
    font-weight: revert;
    margin-left: 168px;
    padding: 60px;
}

.subname{
    margin-left: 259px;
    margin-top: -55px;
  color: rgb(0, 157, 254);
}

.wallpaper{
  height: 225px;
  width: 204px;
  margin-top: -235px;
  overflow: hidden;
}

.wallpaper img {
  width: 98%;
  height: 98%;
  transition: scale 400ms;
}
.wallpaper:hover img {
  scale: 120%;
}



@media screen and (max-width: 600px)
{
  * {box-sizing: border-box}
  .container {
    width: 100%;
    background-color: rgb(131, 131, 131);
  }
  .skills {
    text-align: right;
    padding-bottom: 7px;
    padding-top: 7px;
    color: black;
  }
  .FIRSTSEMESTER {
    width: 83%;
  background-color:rgb(0, 157, 254);
  
    }
 .SECONDSEMESTER{
  width: 80%;
  background-color:rgb(0, 157, 254);
 }
 .thirdSEMESTER {
  width: 80%;
 background-color:rgb(0, 157, 254);
  }
 .TWELTH{
  width: 54%;
  background-color:rgb(0, 157, 254);
 }
 .TENTH{
  width: 62%;
  background-color:rgb(0, 157, 254);
 }

 body{
  background-color: rgb(252, 252, 252);

}

.name{
  font-size: 3em;
  font-weight: revert;
  margin-left: 98px;
}

.subname{
  margin-left: 11px;
  margin-top: -87px;
  color: rgb(0, 157, 254);
}

.img{
  height: 137px;
width: 146px;
}

}